.slideshow-container {
    position: relative;
    max-width: 85%;
    max-height: 70vh;
    margin: auto;
    margin-top: 10px;
  }
  
  .slides img {
    display: none;
    width: 100%;
    height: auto;
    /* max-height: 90vh; */
    /* margin: auto; */

  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  

  